<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangles</title>
</head>
<body>
    <form action="/send" method="POST">
        <input type="number" name="sidea" id="sidea">
        <input type="number" name="sideb" id="sideb">
        <input type="number" name="sidec" id="sidec">
        <button type="submit">Submit</button>
    </form>
    <p>{{ triangle_message }}
</body>
</html>