<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <h1>Determine Triangle Type</h1>
        <form action="/send" method="POST">
            <div class="textinputs">
            <label for="side_a">Side A</label>
            <input type="number" name="side_a" id="side_a">
            </div>
            <div class="textinputs">
            <label for="side_b">Side B</label>
            <input type="number" name="side_b" id="side_b">
            </div>
            <div class="textinputs">
            <label for="side_c">Side C</label>
            <input type="number" name="side_c" id="side_c">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div class="output">
            <p id="msg">{{ triangleMessage }}</p>
            <p id="valid">{{ triangleValidity }}</p>
        </div>
    </div>
</body>
</html>